<div class="col-md-4 col-sm-12 currentSearch">
  <div class="contentCurrent">
    <h3>Weather in your location</h3>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading weather in your location...
  </div>
</div>