<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="weather.html">
        <img src="/assets/images/nubes.png" alt="" width="30" height="28" class="d-inline-block align-text-top">
        Clouds
      </a>
      <span class="navbar-text">Get the weather from the world<span>
      </div>
    </div>
  </nav>